# ==================================================
# Python
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================================
# Virtual Environment
# ==================================================

.venv/

# ==================================================
# PyInstaller
# ==================================================

build/
dist/

# ==================================================
# VS Code
# ==================================================

.vscode/

# ==================================================
# OS Files
# ==================================================

Thumbs.db
.DS_Store

# ==================================================
# Personal Design Notes
# ==================================================
DESIGN.md